body {
    margin: 0;
    padding: 0;
}

.header {
    background: linear-gradient(to right, #EF2B2D, #002868);
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #FFF;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.header a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #002868;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header a:hover {
    background-color: #0041A4;
}