table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

.level-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.level-name {
    display: inline-block;
    padding: 30px;
    margin: 40px;
    background-color: #002868;
    color: #FFF;
    border-radius: 50%;
    font-size: 120px;
}

div.level-names a.level-name {
    text-decoration: none !important;
}

.header-text {
    background-color: #fff;
    background-image: linear-gradient(to right, #EF2B2D, #002868);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

